/* ===============================
  PALETA DE CORES
  ==================================*/

:root {
    /* Cores principais */
    --primary: #00A86B;
    /* verde principal */
    --primary-dark: #007A4D;
    /* verde escuro */
    --primary-light: #DDF7EC;
    /* verde claro */

    /* Fundo */
    --background: #F8FAF9;
    /* fundo geral */
    --surface: #FFFFFF;
    /* cards / navbar */
    --surface-light: #F1F5F3;
    /* blocos suaves */

    /* Textos */
    --text-primary: #1B1F1E;
    /* texto principal */
    --text-secondary: #6B7280;
    /* texto secundário */
    --text-light: #9CA3AF;
    /* texto claro */

    /* Bordas */
    --border: #E5E7EB;
    --border-light: #F3F4F6;
    /* Sombras */
    --shadow: rgba(0, 0, 0, 0.08);

    /* Status */
    --info: #3B82F6;
}


/*===============================
            RESET
=================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: auto;
    min-width: 320px;
    max-width: 1366px;
    font-family: "Inter", sans-serif;
    background-color: var(--background);
    min-height: 100dvh;
}
 header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #F8FAF9;
 }
/*===============================
        TOP BAR
=================================*/

.top-bar {
    background-color: var(--primary);
    color: rgba(255, 255, 255, 0.873);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;


    ul li {
        display: flex;
        gap: 1rem;
        list-style: none;
        margin-left: 1rem;
    }

    ul li a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.873);
    }
}

.top-bar ul li a:hover {
    color: var(--text-light);
}

/*===============================
    MAIN BAR
=================================*/

.main-bar {   
    padding: 1rem 3rem 1rem 3rem;
    align-items: center;
}

.main-bar1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    position: relative;
    align-items: center;

    .title-farm-log1 {
        left: 1rem;
        color: var(--primary-dark);

        span {
            color: var(--success);
        }
    }

    .text-log {
        position: absolute;
        top: 2.5rem;
        left: 4rem;
        color: var(--text-secondary);
    }
}

/*===============================
        SEARCH BAR
=================================*/

.search-bar {
    position: relative;
    width: 30%;
}

input {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 168px, 107px, 0.08);
}

input:hover {
    outline: 1px solid var(--primary);
}

.search-icone {
    position: absolute;
    top: .4rem;
    right: 1rem;
}

/*===============================
    CARD REGISTER
=================================*/

.register {
    position: relative;

    .user-register {
        position: absolute;
        left: .1rem;
    }

    .link-cadastrar {
        text-decoration: none;
        font-weight: 700;
        color: var(--text-primary);
        margin-left: 2rem;
    }

    .text-register {
        margin-left: 2rem;
        color: var(--text-light);
    }
}

/*===============================
    SHOPPING CAR
=================================*/

.shopping-cart {
    display: flex;
    gap: .5rem;
    position: relative;

    .text-shopping-cart {
        color: #1B1F1E;
    }

    .text-circle {
        color: var(--primary-light);
        text-align: center;
        align-content: center;
        width: 2rem;
        height: 2rem;
        background-color: #22C55E;
        border-radius: 100%;
    }
}

/*===============================
         NAV LINK
=================================*/

.nav-link {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--border);

    ul li {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    ul li a {
        text-decoration: none;
        color: #1B1F1E;
    }

    ul li a:hover {
        border-bottom: .5px solid var(--primary);
    }

    ul li a:active {
        color: var(--primary);
    }

}

/*===============================
       HERO SECTION
=================================*/

.hero-section {
    background-color: var(--primary-light);
    height: 460px;
    margin: 1rem 3rem 1rem 3rem;
    border-radius: 12px;
    padding: 1rem;
    position: relative;

    hero-content {
        width: 50%;
    }

    .hero-title {
        color: var(--primary-dark);
        font-size: 2.5rem;
        font-weight: bold;
        width: 40%;
        margin: 3rem 3rem 1rem 3rem;
    }

    .hero-text {
        width: 38%;
        font-size: 1.3rem;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: var(--text-secondary);
        margin: 1rem 3rem 1rem 3rem;
    }

    .hero-btn {
        background-color: var(--primary);
        padding: 1rem 2rem;
        border-radius: 8px;
        cursor: pointer;
        border: none;
        color: var(--primary-light);
        font-size: 16px;
        margin: 1rem 3rem 1rem 3rem;
    }

    .hero-btn:hover {
        transition: 0.4s ease;
        background-color: var(--primary-dark)
    }

    .hero-btn:active {
        background-color: var(--primary);
    }

}

/*===============================
      DESIGN
=================================*/
.design {

    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background: #4bffa59f;
    border-top-left-radius: px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    clip-path: ellipse(80% 100% at 100% 80%)
}

/*===============================
       BENEFITS
=================================*/

.store-benefits {
    width: 45%;
    height: 15%;
    display: flex;
    margin: 3rem 0 0 3rem;
    justify-content: center;
    align-items: center;
    background-color: var(--surface);
    border-radius: 12px;

    .benefits {
        display: flex;
        gap: .5rem;
        width: 100%;
        padding: 1rem;
        color: var(--text-primary);
        font-size: 10px;
    }



    .benefits-img {
        position: absolute;
        top: 80px;
        right: 16rem;
        width: 24rem;
        height: 24rem;
    }


    .benefits-cross-img {
        position: absolute;
        top: 1rem;
        right: 2rem;
        width: 16rem;
        margin-left: 30rem;
    }
}

/*===============================
      HERO SECTION 2
=================================*/
.hero-section2 {
    margin: 1rem 3rem;

    .category-hero {
        width: 100%rem;
        display: flex;
        gap: 1rem;

        .category-card {
            color: var(--text-primary);
            width: 9rem;
            height: 6rem;
            cursor: pointer;
            font-size: .96rem;
            border: 1px solid var(--border);
            text-align: center;
            align-content: center;
            border-radius: 12px;
            box-shadow: 0 4px 16px rgba(0, 168px, 107px, 0.08);
            transition: 0.3s ease;
        }

        .category-card:hover {
            transform: translateY(-8px) scale(1.05);
        }

        .category-card:nth-child(8) {
            color: var(--primary)
        }
    }

    .hero-promotions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1rem;

        .promotions-cards {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 2rem;
            cursor: pointer;
            padding-left: 2rem;
            width: 25rem;
            height: 12rem;
            position: relative;
            border-radius: 16px;
            background-color: var(--primary-light);
            transition: 0.3s ease;
        }

        .promotions-cards:hover {
            transform: translateY(-8px) scale(1.05);
        }

        .promotions-cards:nth-child(1) {

            a {
                text-decoration: none;
                color: var(--primary);
                font-size: 14px;
                font-weight: 400;
            }

            svg {
                position: absolute;
                bottom: 37px;
            }
        }

        .promotions-cards:nth-child(2) {
            color: var(--info);

            h4 {
                line-height: 1.5rem;
            }

            a {
                color: var(--info);
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
            }

            svg {
                position: absolute;
                bottom: 29px;
            }
        }
    }

    .promotions-cards:nth-child(3) {
        h3 {
            margin-top: 3rem;
            line-height: 1.5rem;
        }

        a {
            text-decoration: none;
            color: var(--primary);
            margin-top: .5rem;
            font-size: 14px;
            font-weight: 400;
        }

        svg {
            position: absolute;
            bottom: 37px;
        }
    }

    /*===============================
     FEATURED-PRODUCTS
=================================*/
    .featured-products-general {
        margin: 1rem 0;
        width: 100%;
        


        .featured-text {
            display: flex;
            justify-content: space-between;
            position: relative;
            margin: 0 1rem;

            a {
                text-decoration: none;
                color: var(--primary);
                font-size: 14px;
                font-weight: 400;
            }

            .featured-icone {
                position: absolute;
                top: -1px;
            }
        }

        .featured-products {
            margin: 1rem;
            display: flex;
            justify-content: center;
            gap: 1rem;

            .featured-card {
                flex: 0 0 12.2rem;
                border: 2px solid var(--border);
                width: 30rem;
                height: 20rem;
                border-radius: 12px;
                box-shadow: 0 0px 1px var(--shadow);
                transition: 0.3s ease;
                padding: 1rem;

                h3 {
                    color: var(--text-primary);
                    margin-top: 2rem;
                    display: flex;
                    justify-content: space-between;

                    button {
                        border: none;
                        border-radius: 50%;
                        background: transparent;

                        img {
                            border-radius: 50%;
                        }
                    }

                    img:hover {
                        box-shadow: 0 0 10px rgba(25, 236, 18, 0.919);
                    }

                }

                p {
                    color: var(--text-light);
                }
            }

            .featured-card:hover {
                transform: translateY(-8px) scale(1.05);
            }

        }
    }

}

/*===============================
    FOOTER
=================================*/
footer {

    margin: 1rem 3rem;

    /*===============================
     BENEFITS - 02
=================================*/

    .benefits-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6d727c24;
        width: 100%;
        height: 7rem;
        padding: .5rem;
        border-radius: 20px;

        .benefits-card-2 {
            display: flex;
            justify-content: center;
            align-content: center;
            gap: 1.5rem;
            padding: 1.5rem;
            width: 20rem;
            height: 5rem;
            cursor: pointer;
            border-right: 2px solid var(--text-secondary);

            img {
                text-align: center;
                align-items: center;
            }

            p {
                margin-top: .5rem;
                font-size: 13px;
                color: var(--text-secondary);
            }
        }

        .benefits-card-2:nth-child(4) {
            border-right: none;
        }

        .benefits-card-2:hover {
            background-color: #6d727c67;
            border-radius: 8px;
            transition: all 0.5s;
        }
    }

    .newsletter {
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        height: 10rem;
        border-radius: 16px;
        width: 100%;
        background-color: var(--primary-light);

        .letter-news{
            width: 26%;
            margin-left: 1rem;
            margin-right: 1rem;

            h3{
                color: var(--primary-dark);
            }

            p{
                margin-top: 1rem;
            }
        }

        img {
            margin-left: 2rem;
            width: 200px;
        }
    }

    .form-register{
        display: flex;

        button{
            color: var(--primary-lights);
            border: none;
            padding: .6rem 1rem;
            border-radius: 12px;
            background-color: var(--primary);
        }
    }

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1.5rem;
        margin-top: 1rem;
        padding: 2rem;
        border-radius: 16px;
        background: var(--primary-light);

        .general-log{
            width: 14rem;

            p{
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }

        h4{
            margin-bottom: 1rem;
            color: #1B1F1E;
        }

        p{
            color: var(--text-secondary);
        }
    }

    .footer-bottom{
       width: 100%;
       padding: 1rem;
       margin-top: 1rem;
       text-align: center;
       align-items: center;
       border-radius: 16px;
       background: var(--primary-light);
    }

}

@media (max-width:934px){
    .top-bar{
        display: none;
    }
}

@media (max-width:500px){
    .top-bar{
        display: none;
    }

    .main-bar{
        display: none;
    }
}